<%= link_to 'Edit', edit_user_registration_path, method: :get %>
<%= link_to 'Create Vision Board', new_vision_board_path, data: { turbo_method: :get } %>

<% unless @vision_boards.empty? %>
  <div id="image-upload">
    <%= turbo_frame_tag "new-upload", src: new_image_path %>
  </div>
  <div class="vision-boards">
    <% @vision_boards.each do |board| %>
      <%= link_to board.title, vision_board_path(board), data: { turbo_method: :get } %>
    <% end %>
  </div>
<% end %>



