<div class="container">
  <div id="welcome-block" class="bg-black">
    <p>
      Hi, I'm Yain Porter. Welcome to my Vision Vault. 
    </p>
    <p>
      Log in to generate your own character art, or find a vision!
    </p>
  </div>
</div>

